[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anselmo L. S. Melo (anselmolsm)
[access "refs/for/refs/*"]
	read = group user/Anselmo L. S. Melo (anselmolsm)
	push = group user/Anselmo L. S. Melo (anselmolsm)
	label-Code-Review = -2..+2 group user/Anselmo L. S. Melo (anselmolsm)
	label-Verified = -1..+1 group user/Anselmo L. S. Melo (anselmolsm)
	rebase = group user/Anselmo L. S. Melo (anselmolsm)
	removeReviewer = group user/Anselmo L. S. Melo (anselmolsm)
	submit = group user/Anselmo L. S. Melo (anselmolsm)
[access "refs/heads/*"]
	read = group user/Anselmo L. S. Melo (anselmolsm)
	create = group user/Anselmo L. S. Melo (anselmolsm)
	push = +force group user/Anselmo L. S. Melo (anselmolsm)
	pushMerge = group user/Anselmo L. S. Melo (anselmolsm)
[access "refs/tags/*"]
	push = group user/Anselmo L. S. Melo (anselmolsm)
	push = +force group user/Anselmo L. S. Melo (anselmolsm)
